# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# YOLO / Ultralytics runs & outputs
runs/
*.avi
*.mp4.avi

# Large weights (optional to track or ignore)
# *.pt

# IDE & Editor configs
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store
